.displayErrors.valid-feedback {
  font-size: 10px;
  color: #ff1d1d;
  display: block;
}

.noError {
  display: none;
}

#login .box-form .formLogin {
  margin: 0 auto;
  width: 30%;
}

#login .box-form label {
  display: flex;
}
